#contents {
	width: 100%;
	height: 100%;
}

#canvas_outer {
	display: inline-block;
	border: solid 2px #CCC;
	width: auto;
	height: auto;
}

.tab_control {
	margin-top: 10px;
}

.tab_items span {
	display: none;
}
.tab_items span.selected {
	display: inline-block;
	border: solid 2px #666;
	width: auto;
	padding: 12px;
}


.group_box {
	display: inline-block;
	border: solid 1px #777;
	padding: 10px;
	width: auto;
}

.tab_thumb {
	user-select: none;
}

.tab_thumb span {
	margin: 0px;
	padding: 0px;
	border: solid 2px #888;
	border-radius: 3px 3px 0px 0px;
	background: linear-gradient(top, #BBB, #555);
	background: -webkit-gradient(linear,left top,left bottom, from(#BBB), to(#555));
	cursor: pointer;
}