#contents {
	width: 100%;
	height: 100%;
}

#canvas_outer {
	display: inline-block;
	border: solid 2px #CCC;
	width: auto;
	height: auto;
}

.tab_control {
	margin-top: 10px;
}

.tab_items > span {
	display: none;
}
.tab_items > span.selected {
	display: inline-block;
	border: solid 2px #666;
	width: auto;
	padding: 12px;
}


.group_box {
	display: inline-block;
	border: solid 1px #777;
	padding: 10px;
	width: auto;
}

.tab_thumb {
	user-select: none;
}

.tab_thumb > span {
	margin: 0px;
	padding: 0px 3px 0px 3px;
	border: solid 2px #888;
	border-radius: 3px 3px 0px 0px;
	background: linear-gradient(top, #CCC, #555);
	background: -webkit-gradient(linear,left top,left bottom, from(#CCC), to(#666));
	cursor: pointer;
}

.tab_thumb > span.selected {
	background: linear-gradient(top, #AAA, #777);
	background: -webkit-gradient(linear,left top,left bottom, from(#666), to(#999));
	cursor: pointer;
}

table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

}
table thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #555;
	border-bottom: 3px solid #555;
}
table tbody th {
	width: 100px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}
table td {
	width: 250px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.console_viewer {
	display: block;
	background-color: black;
	color: white;
	font-size: 13pt;
	width: 600px;
	height: 300px;
	overflow: scroll;
}

code::after {
	content: "\A";
	white-space: pre;
}